<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Answer</title>
</head>

<body>
    {% if answer %}
        <h3> Edit answer:</h3>
        <form action="/answer/{{ id }}/edit" method="post">
        <label>
            <textarea name="msg" rows="8" cols="40" minlength="10"></textarea>
        </label><br>
            <input type="submit" value=Send style="float: left;">
        <a href="/question/{{ id }}"><input type="button" value="Back" style="float: left;"></a>
        </form>

    {% else %}
        <h3> New answer:</h3>
        <form action="/question/{{ id }}/new-answer" method="post">
        <label>
            <textarea name="msg" rows="8" cols="40" minlength="10"></textarea>
        </label><br>
            <input type="submit" value=Send style="float: left;">
        <a href="/question/{{ id }}"><input type="button" value="Back" style="float: left;"></a>
        </form>
    {% endif %}

</body>
</html>




