<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>List</title>
</head>

<body>
    <h1>Questions:</h1>
    <p>
    <table border="1">
        <thead>
            <tr>
                {% for header in questions[0].keys() %}
                   <th><a href="/list?order_by={{ header }}&order_direction={{ "asc" if direction else "desc" }}">{{ header }}</a></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in questions %}
            <tr>
                {% for item in row %}
                    {% if item != "title" %}
                        <td> {{ row[item] }} </td>
                    {% else %}
                        <td><a href="/question/{{ row["id"] }}"> {{ row[item] }} </a></td>
                    {% endif %}    
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </p>
    <a href="/add-question"><button>Ask question</button></a>
</body>
</html>
