<!doctype html>
<html lang="en">
    <head>
        <title>List</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {#
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
        #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body class="p-3 mb-2 bg-white text-black">
        {% include 'navbar.html' %}
        {% if questions %}
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" style="margin-left: 12px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order by
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/list?order_by=vote_number&direction={{ 'asc' if direction=='desc' else 'desc' }}">Vote</a>
                <a class="dropdown-item" href="/list?order_by=view_number&direction={{ 'asc' if direction=='desc' else 'desc' }}">View</a>
                <a class="dropdown-item" href="/list?order_by=title&direction={{ 'asc' if direction=='desc' else 'desc' }}">Title</a>
                <a class="dropdown-item" href="/list?order_by=submission_time&direction={{ 'asc' if direction=='desc' else 'desc' }}">Submission Time</a>
            </div>
        </div>
        <table class="table table-borderless table-hover">
            <tbody>
                {% for question in questions %}
                <tr>
                    <td style="width: 150px">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary btn-sm">{{ question['vote_number'] }} <br> votes</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm">{{ answer_numbers[question['id']] }} <br> answers</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm">{{ question['view_number'] }} <br> views</button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p style="margin-bottom: 2px"><a style="font-size: 20px;" href="/question/{{ question['id'] }}" class="text-secondary">{{ question['title'] }}</a></p>
                            {% for tag in tags[question['id']] %}
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button style="font-size: 14px" type="button" class="btn btn-outline-primary btn-sm">{{ tag['name'] }}</button>
                                <a href="/{{ question['id'] }}/delete-tag/{{ tag['id'] }}" style="font-size: 8px;vertical-align: middle" class="btn btn-outline-dark btn-sm">▬</a>
                            </div>
                            {% endfor %}
                            <div style="display: inline-block" class="dropdown">
                                <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                +
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <span class="input-group">
                                        <form action="/{{ question['id'] }}/add-tag" method="get">
                                            <input name="tag" style="width: 120px  " type="text">
                                            <button class="btn btn-outline-success btn-sm" type="submit">+</button>
                                        </form>
                                    </span>
                                    {% for tag in all_tags %}
                                    <a href="/{{ question['id'] }}/add-tag?tag={{ tag['name'] }}" class="dropdown-item">{{ tag['name'] }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <p style="text-align: right;font-size: 12px;font-style: italic;margin-bottom: 0px">{{question["submission_time"]}}</p>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h6>No questions</h6>
        {% endif %}

        {% if session['logged_in'] == True %}
            <a href="/add-question" class="btn btn-secondary btn">Ask question</a>
        {% endif %}

        {% if session['logged_in'] == False %}
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#login">Ask question</button>
        {% endif %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% if failed_login or signup %}
        <script type="text/javascript">
            $(window).on('load',function(){
                $('#login').modal('show');
            });
        </script>
        {% endif %}
    </body>
</html>