<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Question</title>
    {#
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body class="p-3 mb-2 bg-white text-black">

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" href="/list" style="width: 75px">List all <span class="sr-only">(current)</span></a>
            </li>
            <form class="form-inline" action="/search" method="get">
                <li style="margin-left: 40px;">
                    <input name="phrase"
                           style="margin-right: 0px !important;width: 1050px;border-radius: 5px 0px 0px 5px;"
                           class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </li>
                <li>
                    <button class="btn btn-outline-success input-group-append" type="submit"
                            style="border-radius: 0px 5px 5px 0px;">
                        <div style="transform: rotate(45deg);">&#9906;</div>
                    </button>
            </form>

            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if not user %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login">
                        Sign in
                    </button>
                {% else %}
                    <div class="btn-group"
                         style="text-align: right !important;justify-content: right !important;horiz-align: right !important;">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ≣
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/profile/{{ user['id'] }}">My Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ '/' ~ question['id'] ~ '/logout' }}">Log Out</a>
                        </div>
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>


{% if not user %}
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login">Sign {{ 'up' if signup else 'in' }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ '/' ~ question['id'] ~ ('/register' if signup else '/login') }}"
                          autocomplete="off">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span style="width: 100px;" class="input-group-text" id="basic-addon1">Username</span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Username"
                                   aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span style="width: 100px;" class="input-group-text" id="basic-addon1">Password</span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                                   name="pw" aria-describedby="basic-addon1">
                        </div>
                        {% if not signup %}
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Remember me</label>
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-block"><span
                                class="glyphicon glyphicon-off"></span> {{ 'Sign up' if signup else 'Log in' }}</button>
                    </form>
                    {% if failed_login %}
                        <p style="color: red">Wrong username or password</p>
                    {% endif %}
                </div>
                {% if not signup %}
                    <div class="modal-footer justify-content-around">
                        <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span> Cancel
                        </button>
                        <p style="display: inline-flex">Not a member?&nbsp; <a href="/register"> Sign Up</a></p>
                        <p style="display: inline-flex">Forgot&nbsp; <a href="#">Password?</a></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

<div class="card bg-light mb-3">
    <div class="card-header">
        <h3>{{ question["title"] }}</h3>
    </div>
    <div class="card-body">
        <h6 class="card-title">
            <table class="table-borderless">
                <td>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group-vertical mr-2" role="group" aria-label="First group">
                            {% if session['logged_in'] == True %}
                                <a href="/question/{{ question['id'] }}/edit" class="btn btn-info btn-sm">✎</a>
                                <a href="/question/{{ question['id'] }}/vote-up" class="btn btn-success btn-sm">▲</a>
                            {% endif %}
                            {% if session['logged_in'] == False %}
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                        data-target="#login">✎
                                </button>
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                        data-target="#login">▲
                                </button>
                            {% endif %}
                            <button type="button"
                                    class="btn btn-{{ 'danger' if question['vote_number'] < 0 else 'success' }} btn-sm">{{ question['vote_number'] }}</button>
                            {% if session['logged_in'] == True %}
                                <a href="/question/{{ question['id'] }}/vote-down" class="btn btn-danger btn-sm">▼</a>
                                <a href="/question/{{ question['id'] }}/delete" class="btn btn-dark btn-sm">▬</a>
                            {% endif %}
                            {% if session['logged_in'] == False %}
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                        data-target="#login">▼
                                </button>
                                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal"
                                        data-target="#login">▬
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </table>
        </h6>

        <td>
            <h4 class="card-text">{{ question["message"] }}</h4>

            <div>
                {% for tag in tags %}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button style="font-size: 14px" type="button"
                                class="btn btn-outline-primary btn-sm">{{ tag['name'] }}</button>
                        {% if session['logged_in'] == True %}
                            <a href="/question/{{ question['id'] }}/delete-tag/{{ tag['id'] }}"
                               style="font-size: 8px;vertical-align: middle" class="btn btn-outline-dark btn-sm">▬</a>
                        {% endif %}
                        {% if session['logged_in'] == False %}
                            <button type="button" style="font-size: 8px;vertical-align: middle"
                                    class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#login">▬
                            </button>
                        {% endif %}
                    </div>
                {% endfor %}

                <div style="display: inline-block" class="dropdown">
                    <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        +
                    </button>
                    {% if session['logged_in'] == True %}
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <span class="input-group">
                                <form action="/question/{{ question['id'] }}/add-tag" method="get">
                                    <input name="tag" style="width: 120px  " type="text">
                                    <button class="btn btn-outline-success btn-sm" type="submit">+</button>
                                </form>
                            </span>
                            {% for tag in all_tags %}
                                <a href="/question/{{ question['id'] }}/add-tag?tag={{ tag['name'] }}"
                                   class="dropdown-item">{{ tag['name'] }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>


        </td>
        </table>
        <br>
        <p>
            {% if session['logged_in'] == True %}
                <a class="text-secondary" data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Comment
                </a>
            {% endif %}
            {% if session['logged_in'] == False %}
                <button type="button" class="text-secondary" data-toggle="modal" data-target="#login">Comment</button>
            {% endif %}
        </p>
        <div class="collapse" id="collapseExample">
            <form action="/question/{{ question['id'] }}/new-comment" method="post">
                <input name="comment" class="form-control input-sm" id="inputsm" type="text" maxlength="300">
                <button type="submit" class="btn btn-outline-success btn-sm">Send</button>
            </form>
        </div>
        <br>
        <table class="table-striped table-borderless" width="100%">
            {% for comment in comments_for_question %}
                <tr>
                    <td style="padding-left: 5%">
                        <div><p style="margin-bottom: 2px;float: left">{{ comment['message'] }} </p>
                            <a href="/comment/{{ comment['id'] }}/delete" class="btn btn-dark btn-sm"
                               style="float: right;padding-top: 0px;padding-right: 0px;padding-left: 0px;padding-bottom: 0px;border-left-width: 0px;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;height: 20px;width: 20px;">▬</a>
                        </div>
                        <p style="margin-bottom: 0px;font-size: 12px;font-style: italic;clear: both"> {{ comment['submission_time'] }} </p>

                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
</div>
<br>
<div class="card bg-light mb-3">
    <div class="card-header" style="font-size: 26px;">Answers</div>
    <div class="card-body">
        {% if answers %}
            {% for answer in answers %}
                <div class="card bg-light mb-3">
                    <h5 class="card-title" style="margin-bottom: 0px">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                {% if session['logged_in'] == True %}
                                    <a href="/answer/{{ answer['id'] }}/delete" class="btn btn-dark btn-sm">▬</a>
                                    <a href="/answer/{{ answer['id'] }}/vote-down" class="btn btn-danger btn-sm">◄</a>
                                {% endif %}
                                {% if session['logged_in'] == False %}
                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal"
                                            data-target="#login">▬
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                            data-target="#login">◄
                                    </button>
                                {% endif %}
                                <button type="button"
                                        class="btn btn-{{ 'danger' if answer['vote_number'] < 0 else 'success' }} btn-sm">{{ answer['vote_number'] }}</button>
                                {% if session['logged_in'] == True %}
                                    <a href="/answer/{{ answer['id'] }}/vote-up" class="btn btn-success btn-sm">►</a>
                                    <a href="/answer/{{ answer['id'] }}/edit" class="btn btn-info btn-sm">✎</a>
                                     <button  class="btn btn-dark btn-sm" onclick="changeText(this)">☐</button>
                                    <script>
                                        function changeText(id) {
                                            if (id.innerHTML ==="☐" ) {
                                                id.innerHTML = "✔";
                                            }
                                            else {
                                                id.innerHTML = "☐"
                                            }
                                        }
                                        </script>
                                {% endif %}
                                {% if session['logged_in'] == False %}
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                            data-target="#login">►
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                            data-target="#login">✎
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </h5>
                    <p class="card-text">
                    <p style="font-size: 20px;">{{ answer["message"] }}</p>
                    <p style="text-align: right;font-size: 12px;font-style: italic;margin-bottom: 0px">{{ answer["submission_time"] }}</p>
                    <p>
                        {% if session['logged_in'] == True %}
                            <a class="text-secondary" data-toggle="collapse" href="#collapseExample{{ answer['id'] }}"
                               role="button" aria-expanded="false" aria-controls="collapseExample">
                                Comment
                            </a>
                        {% endif %}
                        {% if session['logged_in'] == False %}
                            <button type="button" class="text-secondary" data-toggle="modal" data-target="#login">
                                Comment
                            </button>
                        {% endif %}
                    </p>
                    <div class="collapse" id="collapseExample{{ answer['id'] }}">
                        <form action="/answer/{{ answer['id'] }}/new-comment" method="post">
                            <input name="comment" class="form-control input-sm" id="inputsm" type="text"
                                   maxlength="300">
                            <button type="submit" class="btn btn-outline-success btn-sm">Send</button>
                        </form>
                    </div>
                    <br>
                    <table class="table-striped table-bordered" width="100%">
                        {% for comment in comments_for_answers[answer["id"]] %}
                            <tr>
                                <table class="table-secondary">
                                    <tr>
                                        <td style="padding-left: 5%;width: 99%"><p
                                                style="margin-bottom: 2px;">{{ comment['message'] }} </p></td>
                                        <td>
                                            <div class="btn-toolbar" role="toolbar"
                                                 aria-label="Toolbar with button groups">
                                                <div class="btn-group-vertical mr-2" role="group"
                                                     aria-label="First group">
                                                    {% if session['logged_in'] == True %}
                                                        <a href="/comment/{{ comment['id'] }}/edit"
                                                           class="btn btn-info btn-sm"
                                                           style="padding: 0px;border-width: 0px;height: 20px;width: 20px">✎</a>
                                                        <a href="/comment/{{ comment['id'] }}/delete"
                                                           class="btn btn-dark btn-sm"
                                                           style="padding: 0px;border-width: 0px;height: 20px;width: 20px;font-size: 10px">▬</a>
                                                    {% endif %}
                                                    {% if session['logged_in'] == False %}
                                                        <button type="button" class="btn btn-info btn-sm"
                                                                data-toggle="modal"
                                                                style="padding: 0px;border-width: 0px;height: 20px;width: 20px"
                                                                data-target="#login">✎
                                                        </button>
                                                        <button type="button" class="btn btn-dark btn-sm"
                                                                data-toggle="modal"
                                                                style="padding: 0px;border-width: 0px;height: 20px;width: 20px"
                                                                data-target="#login">▬
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 5%">
                                            <p style="margin-bottom: 0px;font-size: 12px;font-style: italic;"> {{ comment['submission_time'] }} </p>
                                        </td>
                                    </tr>
                                </table>
                            </tr>

                            </table>

                            </td></tr>
                        {% endfor %}
                    </table>

                    </p>
                </div>
            {% endfor %}
        {% else %}
            <br>
            <p>No answers yet</p>
        {% endif %}
    </div>
</div>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        {% if session['logged_in'] == True %}
        <a href="/question/{{ question['id'] }}/new-answer" class="btn btn-secondary btn">Answer</a>
        {% endif %}
        {% if session['logged_in'] == False %}
        <button type="button" class="btn btn-secondary btn" data-toggle="modal" data-target="#login">Answer</button>
        {% endif %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

{% if failed_login or signup %}
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#login').modal('show');
        });
    </script>
{% endif %}

</body>
</html>