<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Question</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

{#        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">#}
    </head>
    <body class="p-3 mb-2 bg-white text-black">
        {% include 'navbar.html' %}
        <div class="card bg-light mb-3">
            <div class="card-header">
                <h3>{{question["title"]}}</h3>
            </div>
            <div class="card-body">
                <table class="table-borderless" >
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group-vertical mr-2" role="group" aria-label="First group">
                                {% if 'username' in session and user['id'] == question['user_id'] %}
                                <a href="/question/{{question['id']}}/edit" class="btn btn-info btn-sm">✎</a>
                                {% endif %}
                                {% if 'username' in session %}
                                <a href="/question/{{question['id']}}/vote-up" class="btn btn-success btn-sm">▲</a>
                                <button type="button" class="btn btn-{{'danger' if question['vote_number'] < 0 else 'success'}} btn-sm">{{ question['vote_number'] }}</button>
                                <a href="/question/{{question['id']}}/vote-down" class="btn btn-danger btn-sm">▼</a>
                                {% else %}
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#login">
                                    ▲
                                </button>
                                <button type="button" class="btn btn-{{'danger' if question['vote_number'] < 0 else 'success'}} btn-sm" data-toggle="modal" data-target="#login">
                                    {{ question['vote_number'] }}
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#login">
                                    ▼
                                </button>
                                {% endif %}
                                {% if 'username' in session and user['id'] == question['user_id'] %}
                                <a href="/question/{{question['id']}}/delete" class="btn btn-dark btn-sm">▬</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td>
                        <h4 class="card-text">{{question["message"]}}</h4>
                        <div>
                            {% for tag in tags %}
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button style="font-size: 14px" type="button" class="btn btn-outline-primary btn-sm">{{ tag['name'] }}</button>
                                {% if question in user['questions'] %}
                                <a href="/question/{{ question['id'] }}/delete-tag/{{ tag['id'] }}" style="font-size: 8px;vertical-align: middle" class="btn btn-outline-dark btn-sm">▬</a>
                                {% endif %}
                            </div>
                            {% endfor %}
                            {% if question in user['questions'] %}
                            <div style="display: inline-block" class="dropdown">
                                <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                +
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <span class="input-group">
                                        <form action="/question/{{ question['id'] }}/add-tag" method="post">
                                            <input name="tag" style="width: 120px  " type="text">
                                            <button class="btn btn-outline-success btn-sm" type="submit">+</button>
                                        </form>
                                    </span>
                                    {% for tag in all_tags %}
                                    <form action="/question/{{ question['id'] }}/add-tag" method="post">
                                        <input type="text" hidden value="{{ tag['name'] }}" name="tag">
                                        <button type="submit" class="dropdown-item">{{ tag['name'] }}</button>
                                    </form>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </td>
                </table>
                <br>
                <p>
                    <a class="text-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Comment
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <form action="/question/{{question['id']}}/new-comment" method="post">
                        <input name="comment" class="form-control input-sm" id="inputsm" type="text" maxlength="300">
                        <button type="submit" class="btn btn-outline-success btn-sm">Send</button>
                    </form>
                </div>
                <br>
                <table class="table-striped table-bordered" width="100%">
                {% for comment in comments_for_question %}
                    <tr>
                        <td style="padding-left: 5%;width: 99%">
                            <p style="margin-bottom: 2px;">{{ comment['message'] }} </p>
                            <p style="margin-bottom: 0px;font-size: 12px;font-style: italic;"> {{ comment['submission_time'] }} </p>

                        </td>
                        {% if 'username' in session and user['name'] == session['username'] %}
                        <td>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group-vertical mr-2" role="group" aria-label="First group">
                                    <a href="/comment/{{ comment['id'] }}/edit" class="btn btn-info btn-sm" style="padding: 0px;border-width: 0px;height: 20px;width: 20px">✎</a>
                                    <a href="/comment/{{ comment['id'] }}/delete" class="btn btn-dark btn-sm" style="padding: 0px;border-width: 0px;height: 20px;width: 20px;font-size: 10px">▬</a>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br>
        <div class="card bg-light mb-3">
            <div class="card-header" style="font-size: 28px">Answers</div>
            <div class="card-body">
                {% if answers %}
                {% for answer in answers %}
                <div class="card bg-light mb-3">
                    <h5 class="card-title" style="margin-bottom: 0px">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                {% if 'username' in session and user['id'] == answer['user_id'] %}
                                    <a href="/answer/{{ answer['id'] }}/delete" class="btn btn-dark btn-sm">▬</a>
                                {% endif %}
                                {% if 'username' in session %}
                                    <a href="/answer/{{ answer['id'] }}/vote-down" class="btn btn-danger btn-sm">◄</a>
                                    <button type="button" class="btn btn-{{ 'danger' if answer['vote_number'] < 0 else 'success' }} btn-sm">
                                        {{ answer['vote_number'] }}
                                    </button>
                                    <a href="/answer/{{ answer['id'] }}/vote-up" class="btn btn-success btn-sm">►</a>
                                    {% if 'username' in session and user['id'] == question['user_id'] %}
                                        <button onclick="changeText(this)" class="btn btn-dark btn-sm">☐</button>
                                        {% endif %}
                                    <script>
                                        function changeText(id) {
                                            if (id.innerHTML ==="☐" ) {
                                                id.innerHTML = "✔";
                                            }
                                            else {
                                                id.innerHTML = "☐"
                                            }
                                        }
                                        </script>
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#login">
                                        ◄
                                    </button>
                                    <button type="button" class="btn btn-{{ 'danger' if answer['vote_number'] < 0 else 'success' }} btn-sm" data-toggle="modal" data-target="#login">
                                        {{ answer['vote_number'] }}
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#login">
                                        ►
                                    </button>
                                {% endif %}
                                {% if 'username' in session and user['id'] == answer['user_id'] %}
                                    <a href="/answer/{{ answer['id'] }}/edit" class="btn btn-info btn-sm">✎</a>
                                {% endif %}
                            </div>
                        </div>
                    </h5>
                    <p class="card-text">
                    <p style="font-size: 20px;">{{answer["message"]}}</p>
                    <p style="text-align: right;font-size: 12px;font-style: italic;margin-bottom: 0px">{{answer["submission_time"]}}</p>
                    <p>
                        <a class="text-secondary" data-toggle="collapse" href="#collapseExample{{ answer['id'] }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Comment
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample{{ answer['id'] }}">
                        <form action="/answer/{{answer['id']}}/new-comment" method="post">
                            <input name="comment" class="form-control input-sm" id="inputsm" type="text" maxlength="300">
                            <button type="submit" class="btn btn-outline-success btn-sm">Send</button>
                        </form>
                    </div>
                    <br>
                    </p>
                    <table class="table-striped table-borderless" width="100%">
                        {% for comment in comments_for_answers[answer["id"]] %}
                        <tr>
                            <td style="padding-left: 5%;width: 99%">
                                <p style="margin-bottom: 2px;">{{ comment['message'] }} </p>
                                <p style="margin-bottom: 0px;font-size: 12px;font-style: italic;"> {{ comment['submission_time'] }} </p>

                            </td>
                            {% if 'username' in session and user['name'] == session['username'] %}
                            <td>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group-vertical mr-2" role="group" aria-label="First group">
                                        <a href="/comment/{{ comment['id'] }}/edit" class="btn btn-info btn-sm" style="padding: 0px;border-width: 0px;height: 20px;width: 20px">✎</a>
                                        <a href="/comment/{{ comment['id'] }}/delete" class="btn btn-dark btn-sm" style="padding: 0px;border-width: 0px;height: 20px;width: 20px;font-size: 10px">▬</a>
                                    </div>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                {% endfor %}
                {% else %}
                <br>
                <p>No answers yet</p>
                {% endif %}
            </div>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            {% if 'username' in session %}
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a href="/question/{{question['id']}}/new-answer" class="btn btn-info btn">Answer</a>
                </div>
            {% else %}
                <button type="button" class="btn btn-info" data-toggle="modal"
                        data-target="#login">New Answer
                </button>
            {% endif %}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% if failed_login or signup %}
        <script type="text/javascript">
            $(window).on('load',function(){
                $('#login').modal('show');
            });
        </script>
        {% endif %}
</body>
</html>