<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
<h2 align="center">Everything you want to know about registered users</h2>
<div>
  <table border="10px">
  <th align="center">UserName</th><th align="center">Hashed Password</th>
{% for user in users %}
<TR>
   <TD>{{user.name}}</TD>
   <TD >{{user.pw}}</TD>
</TR>
{% endfor %}
</table>
</div>
</body>
</html>