<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
<h2 align="center">Everything you want to know about registered users</h2>
<div>
    <table border="10px">
        {% for header  in users.keys() %}
            <th align="center">{{ header }}</th>
            {% endfor %}
    {% for user in users %}
            <TR>{%  for value in user %}
                <TD>{{ value}}</TD>
                {% endfor %}
            </TR>
        {% endfor %}
    </table>
</div>
</body>
</html>